img{
  max-width: 100%;
  padding-bottom: 10px;
  padding-top: 15px;


}
.imgweb img{
  max-width: 100%;
  padding-top: 40px;

}
.imgweb{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}
li{
  list-style: none;
}
ol{

  text-align: left;
}

.row li{
  color:  #d9d9d9
}
.lightlink{
  color:#a6a6a6;
}
a{
  color:  #0080ff;
}
#pdx{
  padding-top: 30px;
}

.edu{
  background: linear-gradient( #99ddff, #006699);
  border-style: outset;
  border-width: double;
  text-align: center;
  padding-bottom: 40px;
  border-radius: 50px;

}
.hobbies{
  background: linear-gradient(#47d147,#008000);
  border-style: inset;
  border-width: double;
  text-align: center;
  padding-bottom: 15px;
  border-radius: 50px;
}

body{
  background-image: url("../img/background.jpg");
  color:#d9d9d9;
  font-family: monospace;
}
h1{
  font-family: monospace;
  font-size: 50px;
}
h2, h3{
  font-family: monospace;
}
h4{
  color: black;
  text-decoration: underline;
  font-family: monospace;
}
#vacation{
  padding-top: 25px;

}
.bottom{
  padding-bottom: 20px;
}
.down{
  margin: 100px;
}
.jenna{
  max-width: 300px;
  float: left;
  margin-right: 50px;
  border-radius: 125px;
}
.bar{
  background-color: #006699;
}
.comingsoon{
  text-align: center;
  font-size: 200px;
}
.andrew{
  text-shadow: 2px 2px black;
  font-size: 30px;
  text-decoration: underline;
}
